.wrapper{
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100%;
    top: 0;
    background: transparent;
}

div.content-wrapper p.content-heading {
    text-align: center;
    font: Bold 20px/24px Helvetica;
    letter-spacing: 0;
    color: #CC0000;
    opacity: 1;
}

ul.content-one li {
    text-align: left;
    font: 18px/22px Helvetica;
    letter-spacing: 0;
    color: #000000;
    opacity: 0.8;
    background: #FFFFFF;
    margin: 5px;
    border-radius: 5px;
}