div.cvs-content-container p.cvs-content-heading {
    text-align: center;
    font: Bold 20px/24px Helvetica;
    letter-spacing: 0;
    color: #CC0000;
    opacity: 1;
}


div.container-AR p.c {
    text-align: center;
    font: Bold 20px/24px Helvetica;
    letter-spacing: 0;
    color: #CC0000;
    opacity: 1;
}

ul.content-one li {
    text-align: left;
    font: 18px/22px Helvetica;
    letter-spacing: 0;
    color: #000000;
    opacity: 0.8;
    background: #FFFFFF;
    margin: 5px;
    border-radius: 5px;
}